---
---

@import "{{ site.theme }}";

.wrapper {
    width: unset;
}

header {
    width: 150px;
}

footer {
    width: 150px;
}

section {
    width: unset;
    padding-left: 200px;
    float: unset;
}

@media print, screen and (min-width: 960px) {
    section {
        padding-left: unset;
    }
}